body {
  margin: 0;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
}

@supports (scrollbar-width: auto) {
  body {
    scrollbar-width: thin;
  }
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  :hover::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f2f2f2;
  }

  ::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #6e6e6e;
  }
}
