/* General */

.ErrorText {
  color: red;
}

/* Compilation server connection mgmt */
.connected {
  color: green;
}

.disconnected {
  color: red;
}

.CompilationServerConnectionPane {
  font-size: 12px;
}

.CompilationServerConnectionPane .connected {
  color: lightgreen;
}

.CompilationServerConnectionPane .disconnected {
  color: pink;
}

/* Compilation Results (StanCompileResultWindow) */
.ErrorsWindow {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.CompileErrorsPane {
  color: red;
  padding: 0px;
}

.ErrorWarningMessage {
  font-family: "courier";
  font-size: 13px;
}

.CompileWarningsPane {
  color: blue;
  padding: 0px;
}

.CompilationDone {
  color: green;
}

/* Main window */
.MainWindow {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Main Window toolbar/TopBar */

.TopBarSpacer {
  margin-left: auto;
}

/* Sidebar */
.SidebarContentWrapper {
  margin: 5px;
}

/* File Upload */
.FileDropAreaWrapper {
  border: 1px solid black;
  padding: 10px;
}

.FileDropAreaInner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Text Editors ------ */

:root {
  --editor-menu-height: 30px;
}

.EditorMenuBar {
  background-color: lightgray;
  height: var(--editor-menu-height);
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  container-name: EditorMenuBar;
  container-type: inline-size;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.EditorWithToolbar {
  height: calc(100% - var(--editor-menu-height));
}

span.EditorToolbarItem {
  padding-left: 15px;
}

.ToolbarButtonText {
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  display: inline-block;
  white-space: normal;
  padding-left: 5px;
  font-size: 14px;
}

@container EditorMenuBar (max-width: 500px) {
  .ToolbarButtonText {
    display: none;
    width: 0;
    padding: 0;
  }
  span.EditorToolbarItem {
    padding: 0px;
  }
}

span.EditorTitle {
  padding-left: 5px;
  font-weight: 500;
}

.NotSelectable {
  user-select: none;
}

.StanEditorDefaultText {
  padding: 20px;
}

/* Sampling section ---- */
/* Run-Sampling */
.RunPanel {
  overflow-y: auto;
}

.RunPanelPadded {
  padding: 5px;
}

.SamplingProgress {
  width: 85%;
}

/* Summary View */
.SummaryViewWrapper {
}

/* Draws */

.DrawsTable {
}

.DrawAbbreviationToggle {
  background: white;
  padding: 5px;
}

/* Trace Plots */
.TracePlotsView {
}

.SequencePlotChild {
  position: relative;
}

.SequencePlotPadding {
  height: 4px;
}

.TracePlotExpandComponent {
  cursor: pointer;
  background-color: lightgray;
}

/* Sampling Opts ------ */
.SamplingOptsWrapper {
  padding: 10px;
}

.SamplingOptsSpacer {
  position: relative;
  height: 5px;
}

.SamplingOptsNumberEditBox {
  width: 4em;
}

/* Save/Load Project ------ */
.GistExplainer {
  max-width: 800px;
}

/* Pyodide/WebR -------- */
.ConsoleOutputArea {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.ImageOutputArea {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.EditorHintText {
  font-style: italic;
  color: #aaa;
  pointer-events: none;
}

.EditorHintText a {
  color: gray;
  text-decoration: underline;
  pointer-events: all;
}
